fastapi
uvicorn
python-multipart
pydantic
pymupdf
python-docx
numpy
google-generativeai
reportlab
python-dotenv
sentence-transformers
torch==2.2.2+cpu --index-url https://download.pytorch.org/whl/cpu

